body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    margin: 0px;
}

.wrapper {
    max-width: 70%;
    margin: 0px auto;
}

.light {
    background-color: #B7D9F5;
    color: #072136;
}

.dark {
    background-color: #1768AC;
    color: white;
}

header{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: #0F426C;
}

#logo-left {
    float: left;
}

#logo-left h1{
    margin: 10px auto;
    border: #F2F2F2;
    border-width: 2px 0px;
    border-style: solid;
}

nav {
    float: right;
    margin: 5px 0px;
}

nav li {
    display: inline;
    margin-right: 50px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

#hero {
    height: 400px;
    margin-top: 50px;
}

#hero #row{
    padding-top: 100px;
}

#hero img {
    float: left;
    height: 200px;
    border-radius: 20px;
    margin-left: 100px;
    background-color: #B7D9F5;
    background-image: url("images/image-background.jpeg");
}

#hero #about{
    float: right;
    margin-right: 100px;
    text-align: justify;
    width: 30%;
}

#skills {
    height: 500px;
}