body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    margin: 0px;
}

.wrapper {
    padding: 10px 0;
    max-width: 70%;
    margin: 0px auto;
}

.wrapper:after {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    content: ".";
    font-size: 0;
    }

.light {
    background-color: #B7D9F5;
    color: #072136;
}

.dark {
    background-color: #1768AC;
    color: white;
}

.section-title{
    margin: 10px;
    text-align: center;
}

.section-title h2{
    margin-top: 0px;
}

header{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: #0F426C;
    height: 80px;
}

#logo-left {
    float: left;
}

#logo-left h1{
    margin: 10px auto;
    border: #F2F2F2;
    border-width: 2px 0px;
    border-style: solid;
}

nav {
    float: right;
    margin: 5px 0px;
}

nav li {
    display: inline;
    margin-right: 50px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

#hero {
    margin-top: 80px;
}

#hero img {
    float: left;
    height: 300px;
    margin: 10px 0px;
    border-radius: 20px;
    margin-left: 100px;
    background-color: #B7D9F5;
    background-image: url("images/image-background.jpeg");
}

#hero #about{
    float: right;
    margin: 10px 0px;
    margin-right: 150px;
    text-align: justify;
    width: 30%;
    font-family: cursive;
}

.cell{
    float: left;
    width: 33%;
    text-align: center;
    margin: 20px 0px;
}

#contact #text-block{
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

#contact a{
    color: #072136;
}

#contact p{
    text-align: left;
}